@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #0e533f 16.62%, #163a31 85.61%);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-logo{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.cabecalho-menu{
    display: flex;
    gap: 40px;
    font-family: 'Sarala', sans-serif;
    color: #fff2e7;
    font-weight: 400;
    font-size: 18px;
}

.conteudo {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 45px;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 100px;
}

.conteudo-principal-div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.conteudo-principal-div-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}

.conteudo-principal-div-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
}

.conteudo-principal-div-btn{
    background-color: #ECD6C4;
    width: 185px;
    height: 67px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #2F2325;
}

.img-parceiro{
    height: 480px;
    padding: 60px;
    border-radius: 50%;
}

.conteudo-adicional{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    margin-top: 50px;
}

.conteudo-adicional-titulo{
    border-top: 0.4px solid #FFF2E7;
    padding-top: 50px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
}

.conteudo-adicional-paragrafo{
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #ECD6C4;
}

.conteudo-footer{
    padding: 32px;
    border-top: 0.4px solid #FFF2E7;
}

.conteudo-footer-img{
    display: block;
    height: 200px;
    margin: 0 auto;
}